:host([theme~="connectors"]) #level-spacer {
    z-index:5000;
}

:host([theme~="connectors"][expanded]) [part="toggle"]::before {
    content: var(--lumo-icons-minus);
    transform: rotate(0deg);
    border: 1px solid var(--icon-border);
}

:host([theme~="connectors"]) [part="toggle"]::before {
    content: var(--lumo-icons-plus);
    border: 1px solid var(--icon-border);
}

:host([theme~="connectors"][leaf]) [part="toggle"] {
    visibility: visible;
    content: "";
}

:host([theme~="connectors"][leaf]) [part="toggle"]::before {
    content: "" !important;
    border: 0;
}
:host {
    --color-border: var(--lumo-contrast-50pct);
    --icon-border: var(--lumo-contrast-50pct);
    --border-style: dashed;
}

/*

:host([theme~="connectors"]) [part="toggle"] {

    background:
            linear-gradient(90deg, white calc(50% - 1px), var(--color-border) 50%, transparent calc(50% + 1px)), !* vertical line and hide the left part *!
            linear-gradient(180deg, white calc(50% - 1px), var(--color-border) 50%, transparent calc(50% + 1px)); !* horizontal line*!
}

:host([theme~="connectors"]:not([expanded])[last]) [part="toggle"] {
    background:
            linear-gradient(180deg, transparent 50%, white calc(50% + 1px)),  !* vertical line and hide the left part *!
            linear-gradient(90deg, white calc(50% - 1px), var(--color-border) 50%, transparent calc(50% + 1px)),
            linear-gradient(180deg, white calc(50% - 1px), var(--color-border) 50%, transparent calc(50% + 1px));
}*/
