:host([theme~="compact"]) [part~="cell"] {
    min-height: var(--lumo-size-xxs);
}
:host([theme~="compact"])  {
    font-size: var(--lumo-font-size-xs);
}

:host([theme~="compact"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
    padding: 1px var(--lumo-space-s);
}
/** Adjust the line height to remove the space between each row **/
:host([theme~="compact"]) {
    --custom-line-height: 2em;
}
:host {
    --custom-line-height: 1.75em;
}
