:host {
    --explorer-tree-grid-toggle-level-offset: 2em;
    --explorer-tree-grid-icon-type-width: 18px;
    --explorer-tree-grid-expand-icon-width: 10px;
    --explorer-tree-grid-icon-type-margin: 2px;
    --explorer-tree-grid-line-color:  var(--lumo-contrast-80pct);
    --explorer-tree-grid-icon-color: var(--lumo-contrast-80pct);
    --explorer-tree-grid-border-style: solid;
}